= form_for @part, :html => { :multipart => true } do |f|
  -if @part.errors.any?
    #error_explanation
      %h2= "#{pluralize(@part.errors.count, "error")} prohibited this part from being saved:"
      %ul
        - @part.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :piece_id
    = f.select :piece_id, options_for_select(Piece.all.collect { |i| [i.name, i.id] }), :include_blank => "Choose One"
  .field
    = f.label :instrument_id
    = f.select :instrument_id, options_for_select(Instrument.in_score_order.collect { |i| [i.name, i.id] }), :include_blank => "Choose One"
  .field 
    = f.label :part_file
    = f.file_field :part_file
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
