%p
  %b Name:
  = @program.name
%p
  %b Date:
  = @program.date.strftime("%D")
%p
  %b Pieces:
  %ul
    - @program.pieces.each do |piece|
      %li
        = link_to piece.name, piece_path(piece)


= link_to 'Edit', edit_program_path(@program)
\|
= link_to 'Back', programs_path
