%p#notice= notice

%p
  %b Name:
  = @program.name
%p
  %b Date:
  = @program.date
%p
  %b Pieces:
  %ul
    - @program.pieces.each do |piece|
      %li= piece.name


= link_to 'Edit', edit_program_path(@program)
\|
= link_to 'Back', programs_path
