%h1 Listing pieces

%table
  %tr
    %th Name
    %th Composer
    %th Inventory/Version
    %th
    %th
    %th
    %th

  - @pieces.each do |piece|
    %tr
      %td= piece.name
      %td= piece.composer + ", " + piece.arranger
      %td= piece.inventory_number + ", " + piece.version_number
      %td= link_to 'Parts', parts_for_piece_path(piece)
      %td= link_to 'Show', piece
      %td= link_to 'Edit', edit_piece_path(piece)
      %td= link_to 'Destroy', piece, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Piece', new_piece_path
